# M3 T02

### -Exercici 1
Descarrega el data set Airlines Delay: Airline on-time statistics and delay causes i carrega’l a un Pandas Dataframe.

In [1]:
import pandas as pd
import numpy as np

In [2]:
#Indiquem que no volem que tingui un número màxim de col·lumnes, les volem veure totes
pd.set_option('display.max_columns', None)
#Com que la primera col·lumna replica l'index, indiquem al obrir que aquesta col·lumna és l'index
df=pd.read_csv("Dataframe\DelayedFlights.csv", index_col=0)
# Mostrem els primers registres per fer-nos una idea del DataFrame
df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,N712SW,128.0,150.0,116.0,-14.0,8.0,IAD,TPA,810,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,N772SW,128.0,145.0,113.0,2.0,19.0,IAD,TPA,810,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,N428WN,96.0,90.0,76.0,14.0,8.0,IND,BWI,515,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,N464WN,90.0,90.0,77.0,34.0,34.0,IND,BWI,515,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,N726SW,101.0,115.0,87.0,11.0,25.0,IND,JAX,688,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN

Explora les dades que conté, explica breument quines variables hi ha.

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1936758 entries, 0 to 7009727
Data columns (total 29 columns):
 #   Column             Dtype
---  ------             -----
 0   Year               int64
 1   Month              int64
 2   DayofMonth         int64
 3   DayOfWeek          int64
 4   DepTime            float64
 5   CRSDepTime         int64
 6   ArrTime            float64
 7   CRSArrTime         int64
 8   UniqueCarrier      object
 9   FlightNum          int64
 10  TailNum            object
 11  ActualElapsedTime  float64
 12  CRSElapsedTime     float64
 13  AirTime            float64
 14  ArrDelay           float64
 15  DepDelay           float64
 16  Origin             object
 17  Dest               object
 18  Distance           int64
 19  TaxiIn             float64
 20  TaxiOut            float64
 21  Cancelled          int64
 22  CancellationCode   object
 23  Diverted           int64
 24  CarrierDelay       float64
 25  WeatherDelay       float64
 26  NASDelay           float64
 27  SecurityDelay      float64
 28  LateAircraftDelay  float64
dtypes: float64(14), int64(10), object(5)
memory usage: 443.3+ MB

### Variables
Year : Indica l'any del vol (int64)

Month: Indica el més del vol (int64)  Valors de 1 a 12

DayofMonth: Indica el dia del mes (int64) valors de 1 a 31

DayofWeek: Indica el dia de la semana (int64) valors de 1 (Dilluns) a 7 (Diumenge)

DepTime: Indica com un número amb decimals la hora en que va sortir realment el vol (float64)

CRSDepTime: Indica com un enter la hora prevista per la sortida del vol (int64)

ArrTime: Indica com un número amb decimals la hora real d'arribada del vol (float64)

CRSArrTime: Indica com un enter la hora prevista d'arribada del vol (int64)

UniqueCarrier: Variable categórica que en proporciona un codi únic per identificar la empresa responsable del vol (object)

FlightNum: número de vol (int64)

TailNum: codi identificador de la cua de l'avió (object)

ActualElapsepTime: numero amb decimals per expresar quant temps en minuts va durar el vol desde l'embarcament fins el desembarcament (float64)

CRSElapsedTime: número amb decimals per expresar en minuts la durada prevista del vol desde l'embarcament fins el desembarcament (float64)

AirTime: número amb decimals per expresar quants minuts va estar el vol a l'aire (float64)

ArrDelay: diferència en minuts entre el temps previst d'arribada i l'arriba real. Si el número es negatiu indica que el vol va arribar amb antelaciò (float64)

DepDelay: diferència en minuts entre el temps previst de sortida i la sortida real. Si el número es negatiu indica que el vol va sortir abans del previst (float64)

Origin: codi de l'aeroport d'origen (object)

Dest: codi de l'aeroport de destí (object)

Distance: Distancia entre els aeroports d'origen i de destí en milles

TaxiIn: Temps en minuts transcorregut entre que es l'avió aterra i aquest arriba a la porta de desembarcament de l'aeroport de destí (float64)

TaxiOut: Temps en minuts transcorregut desde que l'avió surt de la porta d'embarcament de l'aeroport d'origin i l'enlairament (float64)

Cancelled: enter que actua com a boleà i indica si el vol es va cancel·lar. 0 - No cancel·lat / 1 - Cancel·lat (int64)

CancelationCode : Motiu de cancel·lació del vol: N - vol no cancel·lat / A - Per motiu de l'empresa / B - Per motiu del temps / C - National Airspace System (NAS) / D - Per motius de Seguretat (object)

Diverted: Enter que actua com a boleà i indica si el vol va ser deviat del seu curs. 0- No desviat / 1- Desviat (int64)

CarrierDelay: minuts d'enderreriment del vol responsabilitat de l'empresa (float64)

WeatherDelay: minuts d'enderreriment del vol a causa del temps (float64)

NASDelay: minuts d'enderreriment del vol a causa del National AirSpace System (NAS) (float64)

SecurityDelay: minuts d'enderreriment del vol per motius de seguretat (float64)

LateAircraftDelay: minuts d'enderreriment del vol per motiu de que l'avió va arribar tard a l'aeroport degut a un enderreriment en un vol previ

### Queda’t únicament amb les columnes que consideris rellevants. Justifica la teva elecció.

### Col·lumnes que eliminarem:

-Year: Totes les dades son de 2008 així que aquesta col·lumna no ens aporta informació

-DepTime, CRSDepTime, ArrTime, CRSArrTime: Com que els delays ja ens venen proporcionats en altres columnes, no els necessitem per calcular-los.

-FlightNum, TailNum: Per fer estadístiques no necessitem una dada tan concreta, ens interessen coses com l'orígen, el destí, la distància, la durada o l'empresa.

-DepDelay: El meu estudi està fet principalment amb el enderreriment d'arribada, ja que un vol que ha tingut un petit enderreriment a la sortida encara el pot compensar durant el trajecte.

-TaxiIn, TaxiOut: en aquesta ocasió per calcular els enderreriments no ens interesa quan temps va passar l'avió a la pista  ja que tampoc tenim dades de referència de quin seria el temps previst a la pista per comparar-ho.

-Cancelled: Aquí tenim informació redundant perquè a CancellationCode ens indica "N" si el vol no s'ha cancel·lat o la lletra amb la causa de cancel·lació.

[Nota: Durant la neteja de NaN s'eliminaràn dues col·lumnes més (Diverted i Cancellationcode) ja que les necessitarem per a la neteja però no per l'anàlisis]

In [4]:
#Procedirem a la eliminació al Dataframe de les col·lumnes esmentades
df = df.drop(['Year', 'DepTime', 'CRSDepTime', 'ArrTime','CRSArrTime', 'FlightNum', 'TailNum', 'DepDelay','TaxiIn', 'TaxiOut', 'Cancelled'], axis='columns')
df.head()

,Month,DayofMonth,DayOfWeek,UniqueCarrier,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,Origin,Dest,Distance,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,1,3,4,WN,128.0,150.0,116.0,-14.0,IAD,TPA,810,N,0,NaN,NaN,NaN,NaN,NaN
1,1,3,4,WN,128.0,145.0,113.0,2.0,IAD,TPA,810,N,0,NaN,NaN,NaN,NaN,NaN
2,1,3,4,WN,96.0,90.0,76.0,14.0,IND,BWI,515,N,0,NaN,NaN,NaN,NaN,NaN
4,1,3,4,WN,90.0,90.0,77.0,34.0,IND,BWI,515,N,0,2.0,0.0,0.0,0.0,32.0
5,1,3,4,WN,101.0,115.0,87.0,11.0,IND,JAX,688,N,0,NaN,NaN,NaN,NaN,NaN

### -Troba quantes dades faltants hi ha per columna.

In [5]:
# Comprovem quants valors NaN tenim. Considerant que tenim 200.000 registres, no hi ha molts Nan ja que els més numerosos
# de les columnes "...Delay" estan justificats perque indiquen factors que no van patir enderreriment.
df.isna().sum()

Month                     0
DayofMonth                0
DayOfWeek                 0
UniqueCarrier             0
ActualElapsedTime      8387
CRSElapsedTime          198
AirTime                8387
ArrDelay               8387
Origin                    0
Dest                      0
Distance                  0
CancellationCode          0
Diverted                  0
CarrierDelay         689270
WeatherDelay         689270
NASDelay             689270
SecurityDelay        689270
LateAircraftDelay    689270
dtype: int64

In [6]:
df[df['AirTime'].isna()]

,Month,DayofMonth,DayOfWeek,UniqueCarrier,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,Origin,Dest,Distance,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
1763,1,3,4,WN,NaN,95.0,NaN,NaN,SAN,SMF,480,N,1,NaN,NaN,NaN,NaN,NaN
1911,1,3,4,WN,NaN,90.0,NaN,NaN,SFO,SAN,447,N,1,NaN,NaN,NaN,NaN,NaN
2651,1,4,5,WN,NaN,65.0,NaN,NaN,BOI,RNO,335,N,1,NaN,NaN,NaN,NaN,NaN
2726,1,4,5,WN,NaN,80.0,NaN,NaN,BUR,SMF,358,N,1,NaN,NaN,NaN,NaN,NaN
3672,1,4,5,WN,NaN,85.0,NaN,NaN,LAS,RNO,345,N,1,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7006289,12,10,3,DL,NaN,123.0,NaN,NaN,ATL,BUF,712,A,0,NaN,NaN,NaN,NaN,NaN
7006401,12,11,4,DL,NaN,344.0,NaN,NaN,LAX,JFK,2475,N,1,NaN,NaN,NaN,NaN,NaN
7006809,12,11,4,DL,NaN,144.0,NaN,NaN,ATL,JFK,760,A,0,NaN,NaN,NaN,NaN,NaN
7007034,12,11,4,DL,NaN,108.0,NaN,NaN,IAD,ATL,533,N,1,NaN,NaN,NaN,NaN,NaN
7008584,12,12,5,DL,NaN,64.0,NaN,NaN,LGA,BOS,185,B,0,NaN,NaN,NaN,NaN,NaN

In [7]:
#Observem que una part dels vols que no tenen hora d'arribada han estat desviats. Aquest tipus de registres no ens serveixen
# pel nostre anàlisi, ja que tampoc tenim dades del retràs d'arribada ja que no hi ha hora prevista per arribar a un aeroport diferent.
df=df[df['Diverted']==0]
#Com que la col·lumna Diverted ja s'ha quedat tota a 0 no ens aporta informació i l'eliminem
df=df.drop('Diverted', axis='columns')
df.isna().sum()
#Hem reduit considerablement la quantitat de NaN a la col·lumna ArrTime

Month                     0
DayofMonth                0
DayOfWeek                 0
UniqueCarrier             0
ActualElapsedTime       633
CRSElapsedTime            0
AirTime                 633
ArrDelay                633
Origin                    0
Dest                      0
Distance                  0
CancellationCode          0
CarrierDelay         681516
WeatherDelay         681516
NASDelay             681516
SecurityDelay        681516
LateAircraftDelay    681516
dtype: int64

In [8]:
df[df['AirTime'].isna()]

,Month,DayofMonth,DayOfWeek,UniqueCarrier,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,Origin,Dest,Distance,CancellationCode,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
5463024,10,27,1,WN,NaN,60.0,NaN,NaN,HOU,HRL,276,A,NaN,NaN,NaN,NaN,NaN
5484245,10,25,6,XE,NaN,107.0,NaN,NaN,CLT,EWR,529,B,NaN,NaN,NaN,NaN,NaN
5486876,10,22,3,XE,NaN,72.0,NaN,NaN,JAN,IAH,351,C,NaN,NaN,NaN,NaN,NaN
5486924,10,22,3,XE,NaN,63.0,NaN,NaN,IAH,BTR,253,B,NaN,NaN,NaN,NaN,NaN
5491819,10,15,3,XE,NaN,72.0,NaN,NaN,IAH,HRL,295,B,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7002526,12,7,7,DL,NaN,130.0,NaN,NaN,BUF,ATL,712,A,NaN,NaN,NaN,NaN,NaN
7006018,12,10,3,DL,NaN,125.0,NaN,NaN,ATL,IAH,689,C,NaN,NaN,NaN,NaN,NaN
7006289,12,10,3,DL,NaN,123.0,NaN,NaN,ATL,BUF,712,A,NaN,NaN,NaN,NaN,NaN
7006809,12,11,4,DL,NaN,144.0,NaN,NaN,ATL,JFK,760,A,NaN,NaN,NaN,NaN,NaN
7008584,12,12,5,DL,NaN,64.0,NaN,NaN,LGA,BOS,185,B,NaN,NaN,NaN,NaN,NaN

In [9]:
#Observem que dels que queden molts tenen causa de cancel·lació. En aquest cas tampoc ens interesen els vols cancelats
df=df[df['CancellationCode']=='N']
#Com  que els valor de 'CancellationCode' ja sempre son 'N' no ens interesa la col·lumna i l'eliminem
df=df.drop('CancellationCode', axis='columns')
df.isna().sum()

Month                     0
DayofMonth                0
DayOfWeek                 0
UniqueCarrier             0
ActualElapsedTime         0
CRSElapsedTime            0
AirTime                   0
ArrDelay                  0
Origin                    0
Dest                      0
Distance                  0
CarrierDelay         680883
WeatherDelay         680883
NASDelay             680883
SecurityDelay        680883
LateAircraftDelay    680883
dtype: int64

In [10]:
#Ara ens queden només NaN a les col·lumnes finals, les que indiquen els minuts de Delay per cada Causa.
#Intentarem comprobar si es degut a que no hi ha hagut enderreriment en aquest vols
df[df['CarrierDelay'].isna()].loc[:, ['ArrDelay', 'CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay']]

,ArrDelay,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,-14.0,NaN,NaN,NaN,NaN,NaN
1,2.0,NaN,NaN,NaN,NaN,NaN
2,14.0,NaN,NaN,NaN,NaN,NaN
5,11.0,NaN,NaN,NaN,NaN,NaN
10,1.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
7009646,3.0,NaN,NaN,NaN,NaN,NaN
7009652,3.0,NaN,NaN,NaN,NaN,NaN
7009702,-1.0,NaN,NaN,NaN,NaN,NaN
7009726,9.0,NaN,NaN,NaN,NaN,NaN
7009727,-5.0,NaN,NaN,NaN,NaN,NaN

In [11]:
#A primera ullada els valors de ArrDelay son inferiors a 15 (minim per considerar-se enderrerit)
#Emplenarem aquest casos amb 0, no indiquem quines columnes emplenem perquè ho hem d'aplicar a totes les que ens resten amb NaN
df.loc[df['ArrDelay'] < 15] = df.loc[df['ArrDelay'] < 15].fillna(0)
df.loc[df['ArrDelay'] < 15, ['ArrDelay', 'CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay']]

,ArrDelay,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,-14.0,0.0,0.0,0.0,0.0,0.0
1,2.0,0.0,0.0,0.0,0.0,0.0
2,14.0,0.0,0.0,0.0,0.0,0.0
5,11.0,0.0,0.0,0.0,0.0,0.0
10,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...
7009646,3.0,0.0,0.0,0.0,0.0,0.0
7009652,3.0,0.0,0.0,0.0,0.0,0.0
7009702,-1.0,0.0,0.0,0.0,0.0,0.0
7009726,9.0,0.0,0.0,0.0,0.0,0.0
7009727,-5.0,0.0,0.0,0.0,0.0,0.0

In [12]:
#Podem veure que ja ens hem desfet de tots els NaN
df.isna().sum()

Month                0
DayofMonth           0
DayOfWeek            0
UniqueCarrier        0
ActualElapsedTime    0
CRSElapsedTime       0
AirTime              0
ArrDelay             0
Origin               0
Dest                 0
Distance             0
CarrierDelay         0
WeatherDelay         0
NASDelay             0
SecurityDelay        0
LateAircraftDelay    0
dtype: int64

 Important

Redueix la dimensió del dataset de manera aleatòria per tal d'obtenir un dataset de només 200.000 registres. Tots els exercicis s'han de fer amb aquest dataset reduït.

In [13]:
df=df.sample(200000)
df.describe()

,Month,DayofMonth,DayOfWeek,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,Distance,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.00000
mean,6.107865,15.755135,3.985740,133.289760,134.135210,108.283655,42.331465,764.593170,12.479765,2.411615,9.654610,0.059800,16.46004
std,3.482170,8.766392,1.999547,72.020909,71.066484,68.525974,56.579762,572.567445,36.349638,16.977175,27.761874,1.723891,36.01036
min,1.000000,1.000000,1.000000,15.000000,15.000000,0.000000,-70.000000,11.000000,0.000000,0.000000,0.000000,0.000000,0.00000
25%,3.000000,8.000000,2.000000,80.000000,81.000000,58.000000,9.000000,338.000000,0.000000,0.000000,0.000000,0.000000,0.00000
50%,6.000000,16.000000,4.000000,116.000000,116.000000,90.000000,25.000000,606.000000,0.000000,0.000000,0.000000,0.000000,0.00000
75%,9.000000,23.000000,6.000000,165.000000,165.000000,137.000000,56.000000,998.000000,10.000000,0.000000,6.000000,0.000000,19.00000
max,12.000000,31.000000,7.000000,679.000000,660.000000,654.000000,1395.000000,4962.000000,1395.000000,721.000000,652.000000,229.000000,1303.00000

### Exercici 2
Fes un informe complet del dataset:

-Resumeix estadísticament el dataset i les columnes d’interès. Fes una anàlisi estadístic del que consideris rellevant.









-Aporta allò que consideris rellevant.

In [14]:
#Mirem com estan distribuits els registres al llarg dels mesos
print("Distribució dels vols per mesos:\n", df['Month'].value_counts())
#Veiem que en contra del que esperariem la majoria dels vols no són a l'estiu sino al nadal i la primavera
print("\nLa mitjana de vols per mes de la mostra es:", df['Month'].value_counts().mean())
print(f"El major número de vols en un més es {df['Month'].value_counts().max()}")
print(f"El menor número de vols en un més es {df['Month'].value_counts().min()}")
print(f"La desviació estàndart és {df['Month'].value_counts().std()}")
print(f"El valor màxim està a {round((df['Month'].value_counts().max() - df['Month'].value_counts().mean())  / df['Month'].value_counts().std() ,2)} desviacions estàndars de la mitja")
print(f"El valor mínim està a {round((df['Month'].value_counts().mean() - df['Month'].value_counts().min())  / df['Month'].value_counts().std() ,2)} desviacions estàndars de la mitja")

Distribució dels vols per mesos:
 12    20871
3     20783
6     20610
2     19737
1     18914
7     18802
8     16895
4     16016
5     15748
11    10926
10    10678
9     10020
Name: Month, dtype: int64

La mitjana de vols per mes de la mostra es: 16666.666666666668
El major número de vols en un més es 20871
El menor número de vols en un més es 10020
La desviació estàndart és 4084.612039735416
El valor màxim està a 1.03 desviacions estàndars de la mitja
El valor mínim està a 1.63 desviacions estàndars de la mitja

In [15]:
print("Distribució dels vols per dies del mes\n",df['DayofMonth'].value_counts())
#Podem veure que els últims dies del més hi ha menys vols, el cas del 31 es perqué no tots els mesos en tenen, 
# pero també van a la cola el 29 i el 30
print("\nLa mitjana de vols per dia del mes de la mostra és:", df['DayofMonth'].value_counts().mean())

Distribució dels vols per dies del mes
 21    7320
22    7297
7     6959
1     6937
15    6870
20    6842
27    6711
18    6656
24    6630
19    6618
14    6602
10    6574
23    6547
9     6514
26    6509
11    6508
2     6507
4     6479
17    6446
8     6435
13    6411
12    6396
16    6357
5     6301
6     6277
28    6256
3     6207
25    6124
29    5929
30    5838
31    3943
Name: DayofMonth, dtype: int64

La mitjana de vols per dia del mes de la mostra és: 6451.612903225807

In [16]:
#Mostrem la distribució de vols segons el dia de la setmana
print("El numero de vols distribuits per dia de la setmana son:\n", df['DayOfWeek'].value_counts())
#Podem dir que el dia amb més vols és el divendres, però que la distribució es bastant uniforme
print("\nLa mitjana de vols per dia de la setmana és:", df['DayOfWeek'].value_counts().mean())
print(f"El valor màxim de la mostra està a {round((df['DayOfWeek'].value_counts().max() - df['DayOfWeek'].value_counts().mean()) / df['DayOfWeek'].value_counts().std(),2)} desviacions estàndart de la mitjana")
print(f"El valor mínim de la mostra està a {round((df['DayOfWeek'].value_counts().mean() - df['DayOfWeek'].value_counts().min()) / df['DayOfWeek'].value_counts().std(),2)} desviacions estàndart de la mitjana")

El numero de vols distribuits per dia de la setmana son:
 5    33396
1    30261
4    29668
7    29518
2    26993
3    26787
6    23377
Name: DayOfWeek, dtype: int64

La mitjana de vols per dia de la setmana és: 28571.428571428572
El valor màxim de la mostra està a 1.51 desviacions estàndart de la mitjana
El valor mínim de la mostra està a 1.63 desviacions estàndart de la mitjana

In [17]:
#Comprovem també si hi ha alguna empresa amb significativament més vols que les demés
print("El número de vols distribuits per empresa son:\n", df['UniqueCarrier'].value_counts())

El número de vols distribuits per empresa son:
 WN    39134
AA    19736
UA    14772
MQ    14637
OO    13636
DL    11821
XE    10604
US    10273
CO    10213
EV     8325
NW     8216
FL     7348
YV     7029
B6     5589
OH     5507
9E     5280
AS     4013
F9     2970
HA      818
AQ       79
Name: UniqueCarrier, dtype: int64

In [18]:
# Aquí sí que hi ha bastant diferència en el número de vols, mostrem quines son les 10 empreses amb més vols
print("Les 10 empreses que gestionen més vols:\n", df['UniqueCarrier'].value_counts()[:10])

Les 10 empreses que gestionen més vols:
 WN    39134
AA    19736
UA    14772
MQ    14637
OO    13636
DL    11821
XE    10604
US    10273
CO    10213
EV     8325
Name: UniqueCarrier, dtype: int64

In [19]:
#Anem a analitzar la durada dels vols desde l'embarcament al desembarcament (temps previst)
print("El vol més curt té previst durar:", df['CRSElapsedTime'].min(), "minuts")
print("El vol més llarg té previst durar:", df['CRSElapsedTime'].max(), "minuts")
print("La mitjana de duració prevista dels vols és:", round(df['CRSElapsedTime'].mean(), 2), "minuts")
#Com que la mitjana no suposa el punt mitjà entre el mínim i el màxim mirem la mediana per veure si s'aproxima
print("La mediana de duració prevista dels vols és:", round(df['CRSElapsedTime'].median(), 2), "minuts")
# Podem veure que efectivamente la mitjana i la mediana no difereixen massa

El vol més curt té previst durar: 15.0 minuts
El vol més llarg té previst durar: 660.0 minuts
La mitjana de duració prevista dels vols és: 134.14 minuts
La mediana de duració prevista dels vols és: 116.0 minuts

In [20]:
print("La mitjana d'enderreriment segons l'atribut 'ArrDelay' és:", df['ArrDelay'].mean(), "minuts")
print("Els vols amb enderreriment son", df.apply(lambda x: x['ArrDelay'] > 15, axis=1).sum(), "de 200000 és a dir un", df.apply(lambda x: x['ArrDelay'] > 15, axis=1).sum() * 100 / 200000, "%")

La mitjana d'enderreriment segons l'atribut 'ArrDelay' és: 42.331465 minuts
Els vols amb enderreriment son 126534 de 200000 és a dir un 63.267 %

In [21]:
#Consultem els 10 principals aeroports d'origen
print("Els 10 aeroports d'origen amb més vols son:\n", df['Origin'].value_counts()[:10])

Els 10 aeroports d'origen amb més vols son:
 ATL    13554
ORD    13104
DFW     9842
DEN     7755
LAX     6256
PHX     5931
IAH     5827
LAS     5590
EWR     5423
DTW     4518
Name: Origin, dtype: int64

In [22]:
#Consultem els 10 principals aeroports de destí
print("Els 10 aeroports de destí amb més vols son: \n", df['Dest'].value_counts()[:10])
#Sembla que hi ha força coincidència així que deduim que aquests són els aeroports més grans que més quantitat de vols operen.

Els 10 aeroports de destí amb més vols son:
 ORD    11295
ATL    10823
DFW     7279
DEN     6621
LAX     6160
EWR     5624
LAS     5084
PHX     4946
SFO     4890
IAH     4460
Name: Dest, dtype: int64

In [23]:
# Respecte a la distància recorreguda pels vols mirem quina es la mínima, quina la màxima i quina la mitjana
print(f"La distància mínima recorreguda per un vol és {df['Distance'].min()} milles ({round(df['Distance'].min() * 1.60934, 2)} km)")
print(f"La distància màxima recorreguda per un vol és {df['Distance'].max()} milles ({round(df['Distance'].max() * 1.60934, 2)} km)")
print(f"La distància mitjana recorreguda pels vols és {df['Distance'].mean()} milles ({round(df['Distance'].mean() * 1.60934, 2)} km)")

La distància mínima recorreguda per un vol és 11 milles (17.7 km)
La distància màxima recorreguda per un vol és 4962 milles (7985.55 km)
La distància mitjana recorreguda pels vols és 764.59317 milles (1230.49 km)

In [24]:
#Faltarà fer l'estudi de les causes d'enderreriment fent servir les darreres col·lumnes que acaben amb ...Delay
print(f"El total de minuts d'enderreriment als vols enderretits és {int(df[df['ArrDelay'] >= 15].loc[:,'ArrDelay'].sum())}")
print("Dels quals:")
print(f"-{int(df[df['ArrDelay'] >= 15].loc[:,'CarrierDelay'].sum())} van ser a causa de l'empresa operadora, es a dir un {round(df[df['ArrDelay'] >= 15].loc[:,'CarrierDelay'].sum() * 100 / df[df['ArrDelay'] >= 15].loc[:,'ArrDelay'].sum(), 2) } percent")
print(f"-{int(df[df['ArrDelay'] >= 15].loc[:,'WeatherDelay'].sum())} van ser a causa de l'empresa operadora, es a dir un {round(df[df['ArrDelay'] >= 15].loc[:,'WeatherDelay'].sum() * 100 / df[df['ArrDelay'] >= 15].loc[:,'ArrDelay'].sum(), 2) } percent")
print(f"-{int(df[df['ArrDelay'] >= 15].loc[:,'NASDelay'].sum())} van ser a causa de l'empresa operadora, es a dir un {round(df[df['ArrDelay'] >= 15].loc[:,'NASDelay'].sum() * 100 / df[df['ArrDelay'] >= 15].loc[:,'ArrDelay'].sum(), 2) } percent")
print(f"-{int(df[df['ArrDelay'] >= 15].loc[:,'SecurityDelay'].sum())} van ser a causa de l'empresa operadora, es a dir un {round(df[df['ArrDelay'] >= 15].loc[:,'SecurityDelay'].sum() * 100 / df[df['ArrDelay'] >= 15].loc[:,'ArrDelay'].sum(), 2) } percent")
print(f"-{int(df[df['ArrDelay'] >= 15].loc[:,'LateAircraftDelay'].sum())} van ser a causa de l'empresa operadora, es a dir un {round(df[df['ArrDelay'] >= 15].loc[:,'LateAircraftDelay'].sum() * 100 / df[df['ArrDelay'] >= 15].loc[:,'ArrDelay'].sum(), 2) } percent")

El total de minuts d'enderreriment als vols enderretits és 8213166
Dels quals:
-2495953 van ser a causa de l'empresa operadora, es a dir un 30.39 percent
-482323 van ser a causa de l'empresa operadora, es a dir un 5.87 percent
-1930922 van ser a causa de l'empresa operadora, es a dir un 23.51 percent
-11960 van ser a causa de l'empresa operadora, es a dir un 0.15 percent
-3292008 van ser a causa de l'empresa operadora, es a dir un 40.08 percent

### -Crea columnes noves (velocitat mitjana del vol, si ha arribat tard o no...).

In [25]:
# Per calcular la velocitat mitjana utilitzarem els atributs Distance(milles) i AirTime(minuts). 
# Farem servir la unitat de mesura estadounidens milles per hora (mph)
df['AvgSpeed']=df['Distance'] / (df['AirTime'] / 60)
df.iloc[:10].loc[:,['Distance', 'AirTime','AvgSpeed']]

         Distance  AirTime    AvgSpeed
5339021       950    134.0  425.373134
1282364       809    105.0  462.285714
2236619       629     95.0  397.263158
630983        361     55.0  393.818182
1133324      1144    174.0  394.482759
1319351       109     28.0  233.571429
3576140      1805    262.0  413.358779
985028        296     48.0  370.000000
3016592       496     66.0  450.909091
1024890       936    113.0  496.991150

In [26]:
# Per la col·lumna de si un vol està retrasat farem servir l'atribut ArrDelay ja que un vol por sortir amb una mica retard 
# però recuperar el temps perdut durant el vol. Considerarem que es un vol enderrerit si arriba al menys amb 15 minuts d'enderreriment.
# Serà un camp boleà amb True/False com a valor
df['Delayed']= df['ArrDelay'] >= 15
df.head(10).loc[:,['ArrDelay', 'Delayed']]

         ArrDelay  Delayed
5339021      28.0     True
1282364      28.0     True
2236619      30.0     True
630983       23.0     True
1133324      94.0     True
1319351     122.0     True
3576140     160.0     True
985028       76.0     True
3016592       6.0    False
1024890      20.0     True

In [27]:
# Afegirem una col·lumna amb el dia de la semana en paraula
days_of_week=['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
df['StrDayOfweek'] = df['DayOfWeek'].apply(lambda x: days_of_week[x-1])

In [28]:
df.head(10).loc[:, ['DayOfWeek', 'StrDayOfweek']]

         DayOfWeek StrDayOfweek
5339021          3    Wednesday
1282364          2      Tuesday
2236619          7       Sunday
630983           7       Sunday
1133324          5       Friday
1319351          1       Monday
3576140          7       Sunday
985028           1       Monday
3016592          1       Monday
1024890          4     Thursday

### -Fes una taula de les aerolínies amb més endarreriments acumulats.

In [29]:
#Com hem fet anteriorment pendrem com enderreriment els minuts de diferència amb l'hora d'arribada prevista
# enmagatzemats a l'atribut ArrDelay
grouped=df.groupby('UniqueCarrier')
data=grouped['ArrDelay'].agg(np.sum)
data=data.sort_values(ascending=False)
data=data[:10]
data=data.to_frame(name='DelayMinutes')
print(data)
print(type(data))

               DelayMinutes
UniqueCarrier
WN                1193395.0
AA                 929480.0
UA                 719570.0
MQ                 659789.0
OO                 621309.0
XE                 527528.0
DL                 473323.0
CO                 414369.0
EV                 397754.0
YV                 382554.0
<class 'pandas.core.frame.DataFrame'>

### -Quins són els vols més llargs?

In [30]:
#Nota, no s'han evitat les repeticions perque ens pregunta vols, no rutes
print("Els 10 vols més llargs son:\n", df.sort_values(by=['CRSElapsedTime'], ascending=False).loc[:, ['Origin', 'Dest', 'CRSElapsedTime']].iloc[:10])

Els 10 vols més llargs son:
         Origin Dest  CRSElapsedTime
6978778    EWR  HNL           660.0
1742571    EWR  HNL           660.0
1139149    EWR  HNL           660.0
576207     EWR  HNL           660.0
1151472    EWR  HNL           660.0
6429312    EWR  HNL           660.0
6976492    EWR  HNL           660.0
566384     EWR  HNL           660.0
6981772    EWR  HNL           660.0
573775     EWR  HNL           660.0

### I els més endarrerits?

In [31]:
print("Els vols amb més enderreriment són: \n", df.sort_values(by=['ArrDelay'], ascending=False).head(10).loc[:,['UniqueCarrier', 'Origin', 'Dest', 'ArrDelay']])

Els vols amb més enderreriment són:
         UniqueCarrier Origin Dest  ArrDelay
2234143            NW    SJU  DTW    1395.0
5039477            UA    LIH  LAX    1322.0
2818284            NW    OKC  MEM    1294.0
1022387            NW    TPA  IND    1203.0
1601146            MQ    CVG  LGA    1195.0
6863931            NW    LAS  MSP    1190.0
1580617            MQ    MTJ  DFW    1129.0
6903387            AA    SEA  DFW    1112.0
2876129            AA    PDX  DFW    1107.0
4474816            UA    EWR  ORD    1049.0

### Busca les rutes més llargues

In [32]:
sorted=df.sort_values(by=['Distance'], ascending=False).loc[:,['Origin', 'Dest', 'Distance']]
sorted['Concat']=sorted['Origin'] + ' - ' + sorted['Dest']

In [33]:
list_uniques=sorted['Concat'].unique()
#Borramos los elementos impares porque corresponden siempre a la misma ruta en sentido inverso
list_uniques=[element for i,element in enumerate(list_uniques) if i % 2 != 0]
#Reducimos el numero de rutas a 10
list_uniques=list_uniques[:10]
print(list_uniques)

['HNL - EWR', 'HNL - ATL', 'HNL - ORD', 'ORD - OGG', 'MSP - HNL', 'HNL - IAH', 'HNL - DFW', 'DFW - OGG', 'ATL - ANC', 'LAX - SJU']

In [34]:
#Hacemos un dataframe con la misma estructura que sorted
tmp = pd.DataFrame(columns = sorted.columns.values)
#Lo llenamos solo con la primera ocurrencia de cada Concat unico
for element in list_uniques:
    tmp=pd.concat([tmp, sorted[sorted['Concat']==element].iloc[:1]])
print("Les rutes més llargues son:\n",tmp.loc[:, ['Origin', 'Dest', 'Distance']])

Les rutes més llargues son:
         Origin Dest Distance
6974971    HNL  EWR     4962
3313459    HNL  ATL     4502
6660938    HNL  ORD     4243
3214501    ORD  OGG     4184
4061584    MSP  HNL     3972
5913718    HNL  IAH     3904
5271774    HNL  DFW     3784
1659787    DFW  OGG     3711
3300519    ATL  ANC     3417
4099011    LAX  SJU     3386

###  i les que acumulen més retards.

In [35]:
#Fem un dataframe temporal on només agafarem les columnes que necesitem i afegirem la columna Route
tmp=df.loc[:,['Origin', 'Dest', 'ArrDelay']]
tmp['Route']=tmp['Origin'] + ' - ' + tmp['Dest']
#Agrupem per ruta i fem la suma de minuts d'enderreriment acumulats
grouped=tmp.groupby('Route')
data=grouped['ArrDelay'].agg(np.sum)
#Ordenem de manera descendent i ens quedem amb els deu valors superior
data=data.sort_values(ascending=False)
data=data[:10]
#Transformem en Dataframe i mostrem
data=data.to_frame(name='DelayMinutes')
print(data)

           DelayMinutes
Route
ORD - LGA       29320.0
LAX - SFO       24390.0
LGA - ORD       21451.0
EWR - ORD       20409.0
ATL - LGA       20361.0
ORD - EWR       20185.0
ATL - EWR       19755.0
SFO - LAX       19042.0
EWR - ATL       17414.0
BOS - JFK       17243.0

### Exercici 3
Exporta el dataset net i amb les noves columnes a Excel.

In [36]:
df.to_excel('dataframe.xlsx', sheet_name='airplane_delays')