# M3 T02

### Exercici 1
Descarrega el data set Airlines Delay: Airline on-time statistics and delay causes i carrega’l a un Pandas Dataframe.

In [1]:
import pandas as pd
import numpy as np

In [2]:
#Indiquem que no volem que tingui un número màxim de col·lumnes, les volem veure totes
pd.set_option('display.max_columns', None)
#Com que la primera col·lumna replica l'index, indiquem al obrir que aquesta col·lumna és l'index
df=pd.read_csv("Dataframe\DelayedFlights.csv", index_col=0)
# Mostrem els primers registres per fer-nos una idea del DataFrame
df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,N712SW,128.0,150.0,116.0,-14.0,8.0,IAD,TPA,810,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,N772SW,128.0,145.0,113.0,2.0,19.0,IAD,TPA,810,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,N428WN,96.0,90.0,76.0,14.0,8.0,IND,BWI,515,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,N464WN,90.0,90.0,77.0,34.0,34.0,IND,BWI,515,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,N726SW,101.0,115.0,87.0,11.0,25.0,IND,JAX,688,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN

 Important

Redueix la dimensió del dataset de manera aleatòria per tal d'obtenir un dataset de només 200.000 registres. Tots els exercicis s'han de fer amb aquest dataset reduït.

In [4]:
df.describe()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Distance,TaxiIn,TaxiOut,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,1936758.0,1.936758e+06,1.936758e+06,1.936758e+06,1.936758e+06,1.936758e+06,1.929648e+06,1.936758e+06,1.936758e+06,1.928371e+06,1.936560e+06,1.928371e+06,1.928371e+06,1.936758e+06,1.936758e+06,1.929648e+06,1.936303e+06,1.936758e+06,1.936758e+06,1.247488e+06,1.247488e+06,1.247488e+06,1.247488e+06,1.247488e+06
mean,2008.0,6.111106e+00,1.575347e+01,3.984827e+00,1.518534e+03,1.467473e+03,1.610141e+03,1.634225e+03,2.184263e+03,1.333059e+02,1.343027e+02,1.082771e+02,4.219988e+01,4.318518e+01,7.656862e+02,6.812975e+00,1.823220e+01,3.268348e-04,4.003598e-03,1.917940e+01,3.703571e+00,1.502164e+01,9.013714e-02,2.529647e+01
std,0.0,3.482546e+00,8.776272e+00,1.995966e+00,4.504853e+02,4.247668e+02,5.481781e+02,4.646347e+02,1.944702e+03,7.206007e+01,7.134144e+01,6.864261e+01,5.678472e+01,5.340250e+01,5.744797e+02,5.273595e+00,1.433853e+01,1.807562e-02,6.314722e-02,4.354621e+01,2.149290e+01,3.383305e+01,2.022714e+00,4.205486e+01
min,2008.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.400000e+01,-2.500000e+01,0.000000e+00,-1.090000e+02,6.000000e+00,1.100000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2008.0,3.000000e+00,8.000000e+00,2.000000e+00,1.203000e+03,1.135000e+03,1.316000e+03,1.325000e+03,6.100000e+02,8.000000e+01,8.200000e+01,5.800000e+01,9.000000e+00,1.200000e+01,3.380000e+02,4.000000e+00,1.000000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2008.0,6.000000e+00,1.600000e+01,4.000000e+00,1.545000e+03,1.510000e+03,1.715000e+03,1.705000e+03,1.543000e+03,1.160000e+02,1.160000e+02,9.000000e+01,2.400000e+01,2.400000e+01,6.060000e+02,6.000000e+00,1.400000e+01,0.000000e+00,0.000000e+00,2.000000e+00,0.000000e+00,2.000000e+00,0.000000e+00,8.000000e+00
75%,2008.0,9.000000e+00,2.300000e+01,6.000000e+00,1.900000e+03,1.815000e+03,2.030000e+03,2.014000e+03,3.422000e+03,1.650000e+02,1.650000e+02,1.370000e+02,5.600000e+01,5.300000e+01,9.980000e+02,8.000000e+00,2.100000e+01,0.000000e+00,0.000000e+00,2.100000e+01,0.000000e+00,1.500000e+01,0.000000e+00,3.300000e+01
max,2008.0,1.200000e+01,3.100000e+01,7.000000e+00,2.400000e+03,2.359000e+03,2.400000e+03,2.400000e+03,9.742000e+03,1.114000e+03,6.600000e+02,1.091000e+03,2.461000e+03,2.467000e+03,4.962000e+03,2.400000e+02,4.220000e+02,1.000000e+00,1.000000e+00,2.436000e+03,1.352000e+03,1.357000e+03,3.920000e+02,1.316000e+03

Explora les dades que conté, explica breument quines variables hi ha.

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1936758 entries, 0 to 7009727
Data columns (total 29 columns):
 #   Column             Dtype
---  ------             -----
 0   Year               int64
 1   Month              int64
 2   DayofMonth         int64
 3   DayOfWeek          int64
 4   DepTime            float64
 5   CRSDepTime         int64
 6   ArrTime            float64
 7   CRSArrTime         int64
 8   UniqueCarrier      object
 9   FlightNum          int64
 10  TailNum            object
 11  ActualElapsedTime  float64
 12  CRSElapsedTime     float64
 13  AirTime            float64
 14  ArrDelay           float64
 15  DepDelay           float64
 16  Origin             object
 17  Dest               object
 18  Distance           int64
 19  TaxiIn             float64
 20  TaxiOut            float64
 21  Cancelled          int64
 22  CancellationCode   object
 23  Diverted           int64
 24  CarrierDelay       float64
 25  WeatherDelay       float64
 26  NASDelay           float64
 27  SecurityDelay      float64
 28  LateAircraftDelay  float64
dtypes: float64(14), int64(10), object(5)
memory usage: 443.3+ MB

### Variables
Year : Indica l'any del vol (int64)

Month: Indica el més del vol (int64)  Valors de 1 a 12

DayofMonth: Indica el dia del mes (int64) valors de 1 a 31

DayofWeek: Indica el dia de la semana (int64) valors de 1 (Dilluns) a 7 (Diumenge)

DepTime: Indica com un número amb decimals la hora en que va sortir realment el vol (float64)

CRSDepTime: Indica com un enter la hora prevista per la sortida del vol (int64)

ArrTime: Indica com un número amb decimals la hora real d'arribada del vol (float64)

CRSArrTime: Indica com un enter la hora prevista d'arribada del vol (int64)

UniqueCarrier: Variable categórica que en proporciona un codi únic per identificar la empresa responsable del vol (object)

FlightNum: número de vol (int64)

TailNum: codi identificador de la cua de l'avió (object)

ActualElapsepTime: numero amb decimals per expresar quant temps en minuts va durar el vol desde l'embarcament fins el desembarcament (float64)

CRSElapsedTime: número amb decimals per expresar en minuts la durada prevista del vol desde l'embarcament fins el desembarcament (float64)

AirTime: número amb decimals per expresar quants minuts va estar el vol a l'aire (float64)

ArrDelay: diferència en minuts entre el temps previst d'arribada i l'arriba real. Si el número es negatiu indica que el vol va arribar amb antelaciò (float64)

DepDelay: diferència en minuts entre el temps previst de sortida i la sortida real. Si el número es negatiu indica que el vol va sortir abans del previst (float64)

Origin: codi de l'aeroport d'origen (object)

Dest: codi de l'aeroport de destí (object)

Distance: Distancia entre els aeroports d'origen i de destí en milles

TaxiIn: Temps en minuts transcorregut entre que es l'avió aterra i aquest arriba a la porta de desembarcament de l'aeroport de destí (float64)

TaxiOut: Temps en minuts transcorregut desde que l'avió surt de la porta d'embarcament de l'aeroport d'origin i l'enlairament (float64)

Cancelled: enter que actua com a boleà i indica si el vol es va cancel·lar. 0 - No cancel·lat / 1 - Cancel·lat (int64)

CancelationCode : Motiu de cancel·lació del vol: N - vol no cancel·lat / A - Per motiu de l'empresa / B - Per motiu del temps / C - National Airspace System (NAS) / D - Per motius de Seguretat (object)

Diverted: Enter que actua com a boleà i indica si el vol va ser deviat del seu curs. 0- No desviat / 1- Desviat (int64)

CarrierDelay: minuts d'enderreriment del vol responsabilitat de l'empresa (float64)

WeatherDelay: minuts d'enderreriment del vol a causa del temps (float64)

NASDelay: minuts d'enderreriment del vol a causa del National AirSpace System (NAS) (float64)

SecurityDelay: minuts d'enderreriment del vol per motius de seguretat (float64)

LateAircraftDelay: minuts d'enderreriment del vol per motiu de que l'avió va arribar tard a l'aeroport degut a un enderreriment en un vol previ

### Queda’t únicament amb les columnes que consideris rellevants. Justifica la teva elecció.

### Col·lumnes que eliminarem:

-Year: Totes les dades son de 2008 així que aquesta col·lumna no ens aporta informació

-DepTime, CRSDepTime, ArrTime, CRSArrTime: Com que els delays ja ens venen proporcionats en altres columnes, no els necessitem per calcular-los.

-FlightNum, TailNum: Per fer estadístiques no necessitem una dada tan concreta, ens interessen coses com l'orígen, el destí, la distància, la durada o l'empresa.

-ActualElapsedTime, CRSElapsedTime: altres atributs que ens podrien servir per calcular enderreriments però que al ja tenir-los no els necessitem.

-DepDelay: El meu estudi està fet principalment amb el enderreriment d'arribada, ja que un vol que ha tingut un petit enderreriment a la sortida encara el pot compensar durant el trajecte.

-TaxiIn, TaxiOut: en aquesta ocasió per calcular els enderreriments no ens interesa quan temps va passar l'avió a la pista  ja que tampoc tenim dades de referència de quin seria el temps previst a la pista per comparar-ho.

-Cancelled: Aquí tenim informació redundant perquè a CancellationCode ens indica "N" si el vol no s'ha cancel·lat o la lletra amb la causa de cancel·lació.

[Nota: Durant la neteja de NaN s'eliminaràn dues col·lumnes més (Diverted i Cancellationcode) ja que les necessitarem per a la neteja però no per l'anàlisis]

In [6]:
#Procedirem a la eliminació al Dataframe de les col·lumnes esmentades
df = df.drop(['Year', 'DepTime', 'CRSDepTime', 'ArrTime','CRSArrTime', 'FlightNum', 'TailNum', 'ActualElapsedTime', 'CRSElapsedTime', 'DepDelay','TaxiIn', 'TaxiOut', 'Cancelled'], axis='columns')
df.head()

,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,1,3,4,2003.0,1955,2211.0,2225,WN,128.0,150.0,116.0,-14.0,8.0,IAD,TPA,810,N,0,NaN,NaN,NaN,NaN,NaN
1,1,3,4,754.0,735,1002.0,1000,WN,128.0,145.0,113.0,2.0,19.0,IAD,TPA,810,N,0,NaN,NaN,NaN,NaN,NaN
2,1,3,4,628.0,620,804.0,750,WN,96.0,90.0,76.0,14.0,8.0,IND,BWI,515,N,0,NaN,NaN,NaN,NaN,NaN
4,1,3,4,1829.0,1755,1959.0,1925,WN,90.0,90.0,77.0,34.0,34.0,IND,BWI,515,N,0,2.0,0.0,0.0,0.0,32.0
5,1,3,4,1940.0,1915,2121.0,2110,WN,101.0,115.0,87.0,11.0,25.0,IND,JAX,688,N,0,NaN,NaN,NaN,NaN,NaN

### -Troba quantes dades faltants hi ha per columna.

In [7]:
# Comprovem quants valors NaN tenim. Considerant que tenim 200.000 registres, no hi ha molts Nan ja que els més numerosos
# de les columnes "...Delay" estan justificats perque indiquen factors que no van patir enderreriment.
df.isna().sum()

Month                     0
DayofMonth                0
DayOfWeek                 0
DepTime                   0
CRSDepTime                0
ArrTime                7110
CRSArrTime                0
UniqueCarrier             0
ActualElapsedTime      8387
CRSElapsedTime          198
AirTime                8387
ArrDelay               8387
DepDelay                  0
Origin                    0
Dest                      0
Distance                  0
CancellationCode          0
Diverted                  0
CarrierDelay         689270
WeatherDelay         689270
NASDelay             689270
SecurityDelay        689270
LateAircraftDelay    689270
dtype: int64

In [8]:
df[df['ArrTime'].isna()]

,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
1763,1,3,4,922.0,915,NaN,1050,WN,NaN,95.0,NaN,NaN,7.0,SAN,SMF,480,N,1,NaN,NaN,NaN,NaN,NaN
1911,1,3,4,2325.0,1900,NaN,2030,WN,NaN,90.0,NaN,NaN,265.0,SFO,SAN,447,N,1,NaN,NaN,NaN,NaN,NaN
2651,1,4,5,1949.0,1905,NaN,1910,WN,NaN,65.0,NaN,NaN,44.0,BOI,RNO,335,N,1,NaN,NaN,NaN,NaN,NaN
2726,1,4,5,737.0,705,NaN,825,WN,NaN,80.0,NaN,NaN,32.0,BUR,SMF,358,N,1,NaN,NaN,NaN,NaN,NaN
3672,1,4,5,1849.0,1630,NaN,1755,WN,NaN,85.0,NaN,NaN,139.0,LAS,RNO,345,N,1,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7002526,12,7,7,1526.0,1444,NaN,1654,DL,NaN,130.0,NaN,NaN,42.0,BUF,ATL,712,A,0,NaN,NaN,NaN,NaN,NaN
7006018,12,10,3,1431.0,1422,NaN,1527,DL,NaN,125.0,NaN,NaN,9.0,ATL,IAH,689,C,0,NaN,NaN,NaN,NaN,NaN
7006289,12,10,3,1459.0,1447,NaN,1650,DL,NaN,123.0,NaN,NaN,12.0,ATL,BUF,712,A,0,NaN,NaN,NaN,NaN,NaN
7006809,12,11,4,1026.0,955,NaN,1219,DL,NaN,144.0,NaN,NaN,31.0,ATL,JFK,760,A,0,NaN,NaN,NaN,NaN,NaN
7008584,12,12,5,703.0,630,NaN,734,DL,NaN,64.0,NaN,NaN,33.0,LGA,BOS,185,B,0,NaN,NaN,NaN,NaN,NaN

In [10]:
#Observem que una part dels vols que no tenen hora d'arribada han estat desviats. Aquest tipus de registres no ens serveixen
# pel nostre anàlisi, ja que tampoc tenim dades del retràs d'arribada ja que no hi ha hora prevista per arribar a un aeroport diferent.
df=df[df['Diverted']==0]
#Com que la col·lumna Diverted ja s'ha quedat tota a 0 no ens aporta informació i l'eliminem
df=df.drop('Diverted', axis='columns')
df.isna().sum()
#Hem reduit considerablement la quantitat de NaN a la col·lumna ArrTime

Month                     0
DayofMonth                0
DayOfWeek                 0
DepTime                   0
CRSDepTime                0
ArrTime                 633
CRSArrTime                0
UniqueCarrier             0
ActualElapsedTime       633
CRSElapsedTime            0
AirTime                 633
ArrDelay                633
DepDelay                  0
Origin                    0
Dest                      0
Distance                  0
CancellationCode          0
CarrierDelay         681516
WeatherDelay         681516
NASDelay             681516
SecurityDelay        681516
LateAircraftDelay    681516
dtype: int64

In [11]:
df[df['ArrTime'].isna()]

,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,CancellationCode,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
5463024,10,27,1,1622.0,1420,NaN,1520,WN,NaN,60.0,NaN,NaN,122.0,HOU,HRL,276,A,NaN,NaN,NaN,NaN,NaN
5484245,10,25,6,1323.0,1255,NaN,1442,XE,NaN,107.0,NaN,NaN,28.0,CLT,EWR,529,B,NaN,NaN,NaN,NaN,NaN
5486876,10,22,3,1825.0,1815,NaN,1927,XE,NaN,72.0,NaN,NaN,10.0,JAN,IAH,351,C,NaN,NaN,NaN,NaN,NaN
5486924,10,22,3,1733.0,1715,NaN,1818,XE,NaN,63.0,NaN,NaN,18.0,IAH,BTR,253,B,NaN,NaN,NaN,NaN,NaN
5491819,10,15,3,1943.0,1745,NaN,1857,XE,NaN,72.0,NaN,NaN,118.0,IAH,HRL,295,B,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7002526,12,7,7,1526.0,1444,NaN,1654,DL,NaN,130.0,NaN,NaN,42.0,BUF,ATL,712,A,NaN,NaN,NaN,NaN,NaN
7006018,12,10,3,1431.0,1422,NaN,1527,DL,NaN,125.0,NaN,NaN,9.0,ATL,IAH,689,C,NaN,NaN,NaN,NaN,NaN
7006289,12,10,3,1459.0,1447,NaN,1650,DL,NaN,123.0,NaN,NaN,12.0,ATL,BUF,712,A,NaN,NaN,NaN,NaN,NaN
7006809,12,11,4,1026.0,955,NaN,1219,DL,NaN,144.0,NaN,NaN,31.0,ATL,JFK,760,A,NaN,NaN,NaN,NaN,NaN
7008584,12,12,5,703.0,630,NaN,734,DL,NaN,64.0,NaN,NaN,33.0,LGA,BOS,185,B,NaN,NaN,NaN,NaN,NaN

In [12]:
#Observem que dels que queden molts tenen causa de cancel·lació. En aquest cas tampoc ens interesen els vols cancelats
df=df[df['CancellationCode']=='N']
#Com  que els valor de 'CancellationCode' ja sempre son 'N' no ens interesa la col·lumna i l'eliminem
df=df.drop('CancellationCode', axis='columns')
df.isna().sum()

Month                     0
DayofMonth                0
DayOfWeek                 0
DepTime                   0
CRSDepTime                0
ArrTime                   0
CRSArrTime                0
UniqueCarrier             0
ActualElapsedTime         0
CRSElapsedTime            0
AirTime                   0
ArrDelay                  0
DepDelay                  0
Origin                    0
Dest                      0
Distance                  0
CarrierDelay         680883
WeatherDelay         680883
NASDelay             680883
SecurityDelay        680883
LateAircraftDelay    680883
dtype: int64

In [14]:
#Ara ens queden només NaN a les col·lumnes finals, les que indiquen els minuts de Delay per cada Causa.
#Intentarem comprobar si es degut a que no hi ha hagut enderreriment en aquest vols
df[df['CarrierDelay'].isna()].loc[:, ['ArrDelay', 'CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay']]

,ArrDelay,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,-14.0,NaN,NaN,NaN,NaN,NaN
1,2.0,NaN,NaN,NaN,NaN,NaN
2,14.0,NaN,NaN,NaN,NaN,NaN
5,11.0,NaN,NaN,NaN,NaN,NaN
10,1.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
7009646,3.0,NaN,NaN,NaN,NaN,NaN
7009652,3.0,NaN,NaN,NaN,NaN,NaN
7009702,-1.0,NaN,NaN,NaN,NaN,NaN
7009726,9.0,NaN,NaN,NaN,NaN,NaN
7009727,-5.0,NaN,NaN,NaN,NaN,NaN

In [16]:
#A primera ullada els valors de ArrDelay son inferiors a 15 (minim per considerar-se enderrerit)
#Emplenarem aquest casos amb 0, no indiquem quines columnes emplenem perquè ho hem d'aplicar a totes les que ens resten amb NaN
df.loc[df['ArrDelay'] < 15] = df.loc[df['ArrDelay'] < 15].fillna(0)
df.loc[df['ArrDelay'] < 15, ['ArrDelay', 'CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay']]

,ArrDelay,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,-14.0,0.0,0.0,0.0,0.0,0.0
1,2.0,0.0,0.0,0.0,0.0,0.0
2,14.0,0.0,0.0,0.0,0.0,0.0
5,11.0,0.0,0.0,0.0,0.0,0.0
10,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...
7009646,3.0,0.0,0.0,0.0,0.0,0.0
7009652,3.0,0.0,0.0,0.0,0.0,0.0
7009702,-1.0,0.0,0.0,0.0,0.0,0.0
7009726,9.0,0.0,0.0,0.0,0.0,0.0
7009727,-5.0,0.0,0.0,0.0,0.0,0.0

In [17]:
#Podem veure que ja ens hem desfet de tots els NaN
df.isna().sum()

Month                0
DayofMonth           0
DayOfWeek            0
DepTime              0
CRSDepTime           0
ArrTime              0
CRSArrTime           0
UniqueCarrier        0
ActualElapsedTime    0
CRSElapsedTime       0
AirTime              0
ArrDelay             0
DepDelay             0
Origin               0
Dest                 0
Distance             0
CarrierDelay         0
WeatherDelay         0
NASDelay             0
SecurityDelay        0
LateAircraftDelay    0
dtype: int64

In [18]:
#Treiem la mostra de 200000 registres pels exercicis següents
df=df.sample(200000)
df.describe()

,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Distance,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.00000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000
mean,6.122625,15.773060,3.984710,1520.118930,1469.455005,1611.264895,1635.946020,133.335160,134.238215,108.32039,42.118875,43.021925,765.161355,12.338750,2.413050,9.709290,0.058940,16.330390
std,3.473212,8.777201,1.996721,450.186227,424.243557,548.310060,464.107331,72.050289,71.203787,68.63396,56.684780,53.212315,573.507685,35.863036,17.728009,28.032979,1.536193,35.968402
min,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,17.000000,2.000000,0.00000,-63.000000,6.000000,24.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.000000,8.000000,2.000000,1205.000000,1135.000000,1318.000000,1328.000000,80.000000,82.000000,58.00000,9.000000,12.000000,338.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,6.000000,16.000000,4.000000,1546.000000,1510.000000,1716.000000,1708.000000,116.000000,117.000000,90.00000,24.000000,24.000000,607.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,9.000000,23.000000,6.000000,1901.000000,1820.000000,2031.000000,2015.000000,165.000000,165.000000,137.00000,56.000000,53.000000,997.000000,10.000000,0.000000,6.000000,0.000000,18.000000
max,12.000000,31.000000,7.000000,2400.000000,2359.000000,2400.000000,2359.000000,663.000000,660.000000,627.00000,1583.000000,1552.000000,4962.000000,1552.000000,1148.000000,1137.000000,178.000000,925.000000

### Exercici 2
Fes un informe complet del dataset:

-Resumeix estadísticament el dataset i les columnes d’interès. Fes una anàlisi estadístic del que consideris rellevant.









-Aporta allò que consideris rellevant.

In [23]:
#Mirem com estan distribuits els registres al llarg dels mesos
print("Distribució dels vols per mesos:\n", df['Month'].value_counts())
#Veiem que en contra del que esperariem la majoria dels vols no són a l'estiu sino al nadal i la primavera
print("\nLa mitjana de vols per mes de la mostra es:", df['Month'].value_counts().mean())
print(f"El major número de vols en un més es {df['Month'].value_counts().max()}")
print(f"El menor número de vols en un més es {df['Month'].value_counts().min()}")
print(f"La desviació estàndart és {df['Month'].value_counts().std()}")
print(f"El valor màxim està a {round((df['Month'].value_counts().max() - df['Month'].value_counts().mean())  / df['Month'].value_counts().std() ,2)} desviacions estàndars de la mitja")
print(f"El valor mínim està a {round((df['Month'].value_counts().mean() - df['Month'].value_counts().min())  / df['Month'].value_counts().std() ,2)} desviacions estàndars de la mitja")

Distribució dels vols per mesos:
 12    21002
6     20790
3     20504
2     19653
7     19243
1     18583
8     17019
5     15964
4     15947
11    10785
10    10674
9      9836
Name: Month, dtype: int64

La mitjana de vols per mes de la mostra es: 16666.666666666668
El major número de vols en un més es 21002
El menor número de vols en un més es 9836
La desviació estàndart és 4134.664949234006
El valor màxim està a 1.05 desviacions estàndars de la mitja
El valor mínim està a 1.65 desviacions estàndars de la mitja

In [25]:
print("Distribució dels vols per dies del mes\n",df['DayofMonth'].value_counts())
#Podem veure que els últims dies del més hi ha menys vols, el cas del 31 es perqué no tots els mesos en tenen, 
# pero també van a la cola el 29 i el 30
print("\nLa mitjana de vols per dia del mes de la mostra és:", df['DayofMonth'].value_counts().mean())

Distribució dels vols per dies del mes
 21    7399
22    7365
1     6965
7     6946
27    6832
24    6813
15    6716
20    6705
19    6650
17    6637
11    6623
18    6615
14    6567
23    6537
8     6536
10    6504
2     6494
9     6439
26    6421
4     6393
28    6376
3     6366
6     6365
12    6364
16    6335
13    6244
5     6091
25    5954
29    5897
30    5791
31    4060
Name: DayofMonth, dtype: int64

La mitjana de vols per dia del mes de la mostra és: 6451.612903225807

In [30]:
#Mostrem la distribució de vols segons el dia de la setmana
print("El numero de vols distribuits per dia de la setmana son:\n", df['DayOfWeek'].value_counts())
#Podem dir que el dia amb més vols és el divendres, però que la distribució es bastant uniforme
print("\nLa mitjana de vols per dia de la setmana és:", df['DayOfWeek'].value_counts().mean())
print(f"El valor màxim de la mostra està a {round((df['DayOfWeek'].value_counts().max() - df['DayOfWeek'].value_counts().mean()) / df['DayOfWeek'].value_counts().std(),2)} desviacions estàndart de la mitjana")
print(f"El valor mínim de la mostra està a {round((df['DayOfWeek'].value_counts().mean() - df['DayOfWeek'].value_counts().min()) / df['DayOfWeek'].value_counts().std(),2)} desviacions estàndart de la mitjana")

El numero de vols distribuits per dia de la setmana son:
 5    33313
1    30112
4    30093
7    29610
3    26959
2    26933
6    22980
Name: DayOfWeek, dtype: int64

La mitjana de vols per dia de la setmana és: 28571.428571428572
El valor màxim de la mostra està a 1.44 desviacions estàndart de la mitjana
El valor mínim de la mostra està a 1.7 desviacions estàndart de la mitjana

In [33]:
#Comprovem també si hi ha alguna empresa amb significativament més vols que les demés
print("El número de vols distribuits per empresa son:\n", df['UniqueCarrier'].value_counts())

El número de vols distribuits per empresa son:
 WN    39113
AA    20026
UA    14512
MQ    14384
OO    13688
DL    11817
XE    10745
CO    10439
US    10097
EV     8343
NW     8293
FL     7303
YV     6825
B6     5844
9E     5367
OH     5318
AS     4023
F9     2954
HA      834
AQ       75
Name: UniqueCarrier, dtype: int64

In [44]:
# Aquí sí que hi ha bastant diferència en el número de vols, mostrem quines son les 10 empreses amb més vols
print("Les 10 empreses que gestionen més vols:\n", df['UniqueCarrier'].value_counts()[:10])

Les 10 empreses que gestionen més vols:
 WN    39045
AA    19796
MQ    14697
UA    14619
OO    13679
DL    11741
XE    10668
CO    10341
US    10214
EV     8537
Name: UniqueCarrier, dtype: int64

In [36]:
#Anem a analitzar la durada dels vols desde l'embarcament al desembarcament (temps previst)
print("El vol més curt té previst durar:", df['CRSElapsedTime'].min(), "minuts")
print("El vol més llarg té previst durar:", df['CRSElapsedTime'].max(), "minuts")
print("La mitjana de duració prevista dels vols és:", round(df['CRSElapsedTime'].mean(), 2), "minuts")
#Com que la mitjana no suposa el punt mitjà entre el mínim i el màxim mirem la mediana per veure si s'aproxima
print("La mediana de duració prevista dels vols és:", round(df['CRSElapsedTime'].median(), 2), "minuts")
# Podem veure que efectivamente la mitjana i la mediana no difereixen massa

El vol més curt té previst durar: 2.0 minuts
El vol més llarg té previst durar: 660.0 minuts
La mitjana de duració prevista dels vols és: 134.24 minuts
La mediana de duració prevista dels vols és: 117.0 minuts

In [41]:
print("La mitjana d'enderreriment segons l'atribut 'ArrDelay' és:", df['ArrDelay'].mean(), "minuts")
print("Els vols amb enderreriment son", df.apply(lambda x: x['ArrDelay'] > 15, axis=1).sum(), "de 200000 és a dir un", df.apply(lambda x: x['ArrDelay'] > 15, axis=1).sum() * 100 / 200000, "%")

La mitjana d'enderreriment segons l'atribut 'ArrDelay' és: 42.118875 minuts
Els vols amb enderreriment son 125993 de 200000 és a dir un 62.9965 %

In [42]:
#Consultem els 10 principals aeroports d'origen
print("Els 10 aeroports d'origen amb més vols son:\n", df['Origin'].value_counts()[:10])

Els 10 aeroports d'origen amb més vols son:
 ATL    13532
ORD    13165
DFW     9831
DEN     7673
LAX     6007
IAH     5875
PHX     5783
EWR     5522
LAS     5470
DTW     4619
Name: Origin, dtype: int64

In [43]:
#Consultem els 10 principals aeroports de destí
print("Els 10 aeroports de destí amb més vols son: \n", df['Dest'].value_counts()[:10])
#Sembla que hi ha força coincidència així que deduim que aquests són els aeroports més grans que més quantitat de vols operen.

Els 10 aeroports de destí amb més vols son:
 ORD    11066
ATL    11048
DFW     7311
DEN     6473
LAX     6232
EWR     5877
LAS     5045
PHX     4939
SFO     4812
IAH     4499
Name: Dest, dtype: int64

In [49]:
# Respecte a la distància recorreguda pels vols mirem quina es la mínima, quina la màxima i quina la mitjana
print(f"La distància mínima recorreguda per un vol és {df['Distance'].min()} milles ({round(df['Distance'].min() * 1.60934, 2)} km)")
print(f"La distància màxima recorreguda per un vol és {df['Distance'].max()} milles ({round(df['Distance'].max() * 1.60934, 2)} km)")
print(f"La distància mitjana recorreguda pels vols és {df['Distance'].mean()} milles ({round(df['Distance'].mean() * 1.60934, 2)} km)")

La distància mínima recorreguda per un vol és 24 milles (38.62 km)
La distància màxima recorreguda per un vol és 4962 milles (7985.55 km)
La distància mitjana recorreguda pels vols és 764.502605 milles (1230.34 km)

In [ ]:
#Faltarà fer l'estudi de les causes d'enderreriment fent servir les darreres col·lumnes que acaben amb ...Delay

### -Crea columnes noves (velocitat mitjana del vol, si ha arribat tard o no...).

In [44]:
# Per calcular la velocitat mitjana utilitzarem els atributs Distance(milles) i AirTime(minuts). 
# Farem servir la unitat de mesura estadounidens milles per hora (mph)
df['AvgSpeed']=df['Distance'] / (df['AirTime'] / 60)
df.iloc[:10].loc[:,['Distance', 'AirTime','AvgSpeed']]

         Distance  AirTime    AvgSpeed
6922693      1721    215.0  480.279070
5803667       152     26.0  350.769231
2187488       135     30.0  270.000000
4420718       286     59.0  290.847458
6986459      1222    156.0  470.000000
5563335       978    129.0  454.883721
4180494       426     66.0  387.272727
6199552       197     35.0  337.714286
2483568      1984    269.0  442.527881
3307650       185     42.0  264.285714

In [45]:
# Per la col·lumna de si un vol està retrasat farem servir l'atribut ArrDelay ja que un vol por sortir amb una mica retard 
# però recuperar el temps perdut durant el vol. Considerarem que es un vol enderrerit si arriba al menys amb 15 minuts d'enderreriment.
# Serà un camp boleà amb True/False com a valor
df['Delayed']= df['ArrDelay'] >= 15
df.head(20).loc[:,['ArrDelay', 'Delayed']]

         ArrDelay  Delayed
6922693     142.0     True
5803667      12.0    False
2187488      29.0     True
4420718      -4.0    False
6986459      -3.0    False
5563335      59.0     True
4180494      15.0     True
6199552     108.0     True
2483568      35.0     True
3307650      23.0     True
2559510     133.0     True
5313530      41.0     True
125942       23.0     True
3246849      73.0     True
921873       31.0     True
1197025      24.0     True
2236093      16.0     True
1328784     173.0     True
6534816       8.0    False
6982862      46.0     True

In [46]:
# Afegirem una col·lumna amb el dia de la semana en paraula
days_of_week=['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
df['StrDayOfweek'] = df['DayOfWeek'].apply(lambda x: days_of_week[x-1])

In [48]:
df.head(10).loc[:, ['DayOfWeek', 'StrDayOfweek']]

         DayOfWeek StrDayOfweek
6922693          2      Tuesday
5803667          7       Sunday
2187488          4     Thursday
4420718          7       Sunday
6986459          4     Thursday
5563335          7       Sunday
4180494          3    Wednesday
6199552          7       Sunday
2483568          6     Saturday
3307650          3    Wednesday

### -Fes una taula de les aerolínies amb més endarreriments acumulats.

In [49]:
#Com hem fet anteriorment pendrem com enderreriment els minuts de diferència amb l'hora d'arribada prevista
# enmagatzemats a l'atribut ArrDelay
grouped=df.groupby('UniqueCarrier')
data=grouped['ArrDelay'].agg(np.sum)
data=data.sort_values(ascending=False)
data=data[:10]
data=data.to_frame(name='DelayMinutes')
print(data)
print(type(data))

               DelayMinutes
UniqueCarrier
WN                1169986.0
AA                 924579.0
UA                 693806.0
MQ                 664130.0
OO                 616064.0
XE                 541491.0
DL                 468401.0
CO                 426317.0
EV                 396559.0
YV                 383744.0
<class 'pandas.core.frame.DataFrame'>

### -Quins són els vols més llargs?

In [58]:
print("Els 10 vols més llargs son:\n", df.sort_values(by=['CRSElapsedTime'], ascending=False).loc[:, ['Origin', 'Dest', 'CRSElapsedTime']].iloc[:10])

Els 10 vols més llargs son:
         Origin Dest  CRSElapsedTime
6979520    EWR  HNL           660.0
1141084    EWR  HNL           660.0
6971276    EWR  HNL           660.0
570350     EWR  HNL           660.0
1742571    EWR  HNL           660.0
1157090    EWR  HNL           660.0
577639     EWR  HNL           660.0
6980183    EWR  HNL           660.0
6988171    EWR  HNL           660.0
570303     EWR  HNL           660.0

### I els més endarrerits?

In [59]:
print("Els vols amb més enderreriment són: \n", df.sort_values(by=['ArrDelay'], ascending=False).head(10).loc[:,['UniqueCarrier', 'Origin', 'Dest', 'ArrDelay']])

Els vols amb més enderreriment són:
         UniqueCarrier Origin Dest  ArrDelay
6857047            NW    BOS  MSP    1655.0
5524147            NW    PHL  DTW    1392.0
5238318            NW    HNL  MSP    1382.0
1022917            NW    RSW  DTW    1253.0
1612481            NW    TPA  MSP    1224.0
5748584            MQ    GJT  DFW    1215.0
6873080            NW    EGE  MSP    1155.0
2826010            NW    BOS  MSP    1119.0
2196483            MQ    GRB  MQT    1118.0
6850570            MQ    DTW  LGA    1103.0

### Busca les rutes més llargues

In [60]:
sorted=df.sort_values(by=['Distance'], ascending=False).loc[:,['Origin', 'Dest', 'Distance']]
sorted['Concat']=sorted['Origin'] + ' - ' + sorted['Dest']

In [61]:
list_uniques=sorted['Concat'].unique()
#Borramos los elementos impares porque corresponden siempre a la misma ruta en sentido inverso
list_uniques=[element for i,element in enumerate(list_uniques) if i % 2 != 0]
#Reducimos el numero de rutas a 10
list_uniques=list_uniques[:10]
print(list_uniques)

['HNL - EWR', 'ATL - HNL', 'HNL - ORD', 'ORD - OGG', 'HNL - MSP', 'IAH - HNL', 'HNL - DFW', 'OGG - DFW', 'ATL - ANC', 'LIH - DEN']

In [62]:
#Hacemos un dataframe con la misma estructura que sorted
tmp = pd.DataFrame(columns = sorted.columns.values)
#Lo llenamos solo con la primera ocurrencia de cada Concat unico
for element in list_uniques:
    tmp=pd.concat([tmp, sorted[sorted['Concat']==element].iloc[:1]])
print("Les rutes més llargues son:\n",tmp.loc[:, ['Origin', 'Dest', 'Distance']])

Les rutes més llargues son:
         Origin Dest Distance
2956124    HNL  EWR     4962
6212612    ATL  HNL     4502
6660963    HNL  ORD     4243
5063558    ORD  OGG     4184
5792370    HNL  MSP     3972
1135671    IAH  HNL     3904
478284     HNL  DFW     3784
6896028    OGG  DFW     3711
4215113    ATL  ANC     3417
1426575    LIH  DEN     3414

###  i les que acumulen més retards.

In [63]:
#Fem un dataframe temporal on només agafarem les columnes que necesitem i afegirem la columna Route
tmp=df.loc[:,['Origin', 'Dest', 'ArrDelay']]
tmp['Route']=tmp['Origin'] + ' - ' + tmp['Dest']
#Agrupem per ruta i fem la suma de minuts d'enderreriment acumulats
grouped=tmp.groupby('Route')
data=grouped['ArrDelay'].agg(np.sum)
#Ordenem de manera descendent i ens quedem amb els deu valors superior
data=data.sort_values(ascending=False)
data=data[:10]
#Transformem en Dataframe i mostrem
data=data.to_frame(name='DelayMinutes')
print(data)

           DelayMinutes
Route
LAX - SFO       26066.0
ORD - LGA       24559.0
ORD - EWR       22494.0
LGA - ORD       22263.0
ATL - LGA       21650.0
EWR - ORD       19140.0
ATL - EWR       17478.0
SFO - LAX       17386.0
DFW - ORD       17112.0
ORD - BOS       16131.0

### Exercici 3
Exporta el dataset net i amb les noves columnes a Excel.

In [64]:
df.to_excel('dataframe.xlsx', sheet_name='airplane_delays')